# Python
__pycache__/
*.pyc
*.pyo
.env

# Cache
.cache/

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
*.err

# Web / Node
web/node_modules/
web/.next/
web/out/

# Temp
*.tmp

logs/
_tmp/
.vercel
